{% extends 'base.html' %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                
                <form action="/createtask/" method="POST" class="card card-body mt-5" enctype="multipart/form-data" >
                    <h1>Crear una publicacion</h1>
                    {{error}}
                    {% csrf_token %}
                    {{form.as_p}}
                    {{form.media}}

                    <button class="btn btn-primary " style='background-color: black'>
                        Save
                    </button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}