{% extends 'base.html' %}
{% block content %}
    <main class="container py-5">
        {% if user.is_authenticated %}
        <section class="card card-body bg-transparent text-white  border-0" >
            <h1 class="text-center"style="color: #20c997"><i class="fas fa-smile"></i> ¡Bienvenido!</h1>
            <p class="text-center"><i class="fas fa-info-circle text-danger"></i> Estamos encantados de verte de nuevo. Explora las nuevas características y funcionalidades que hemos añadido para ti.</p>
            <span>quieres saber acerca de nosotros? <a href='./sobrenosotros' > toca aqui </a></span>
        </section>
        {% else %}
        <section class="card card-body bg-transparent text-white border-0">
            <h1 class="text-center" style="color: #20c997"><i class="fas fa-hand-sparkles"></i> ¡Bienvenido!</h1>
            <p class="text-center"><i class="fas fa-info-circle text-danger"></i> Estamos emocionados de tenerte aquí. Nuestra aplicación ofrece una variedad de características útiles.</p>
        </section>
        <div class="row">
            <div class="col-md-6">
                <section class="card card-body bg-transparent text-white border-0">
                    <h2 class="text-center" style="color: #20c997"><i class="fas fa-user-plus"></i> ¿Nuevo por aquí?</h2>
                    <p class="text-center"><i class="fas fa-info-circle text-danger"></i> Para comenzar, primero registrate Luego, iniciar sesión.</p>
                    <div class="text-center"> 
                        <a class="btn btn-primary" href="/signup/"  style='background-color: black; border-color: black;' >
                            <i class="fas fa-user-plus"></i> Registrarse
                        </a>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="card card-body bg-transparent text-white border-0">
                    <h2 class="text-center" style="color: #20c997"><i class="fas fa-sign-in-alt"></i> ¿Ya tienes una cuenta?</h2>
                    <p class="text-center"><i class="fas fa-info-circle text-danger"></i> Si ya tienes una cuenta, simplemente inicia sesión para continuar.</p>
                    <div class="text-center"> 
                        
                        <a class="btn btn-primary" href="/signin/"  style='background-color: black; border-color: black;'>
                            <i class="fas fa-sign-in-alt"></i> Iniciar sesión
                        </a>
                    </div>
                </section>
            </div>
        </div>
        

            <div class="row">
                <div class="col-md-6 offset-md-3">
                     <ul class="list-group" style="background-color: white;">
                        {% for task in form %}
                        <header class="d-flex justify-content-between">
                            <h1 class="fw-bold">{{task.title}}</h1>
                            <p>Usuario: {{task.user.username}}</p>
                        </header>

                        <p>{{task.description}}</p>

                        {% load static %}
                        <p><img src="{{task.imagen}}" alt="Imagen" style="width: 100px; height: 100px;"></p>
                        <p>{{task.datecompleted|date:"M j Y:i"}}</p>
    
                        {%endfor%}
                     </ul>
                     
                </div>
            </div>

        {% endif %}
    </main>
{% endblock %}
