{% extends 'base.html' %}
{% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="text-center">Django App</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor reprehenderit libero ex fugiat doloremque possimus exercitationem. Eos, natus perferendis aut corrupti ipsa reiciendis quam, explicabo iusto, tempore inventore incidunt sed.</p>
        </section>

        <div class="text-center"> 
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>

    </main>
{% endblock %}