{% extends 'base.html' %}

{% block content %}

<h1 class='text-center' style="color: white;">Publicaciones y mas</h1>
<ul class="list-group">
     {% for task in publicacion %}

          <a href="{% url 'ver' task.id %}"class="list-group-item"> 
               <header class="d-flex justify-content-between">
                    {% if task.important %}
                    <h1 class="fw-bold text-success">{{task.title}}</h1>
                    {% else %}
                    <h1 class="fw-bold">{{task.title}}</h1>
     
                    {% endif %}
                    <p>Usuario: {{task.user.username}}</p>
               </header>

               <p>{{task.description|safe}}</p>
     </a>

     {%endfor%}
</ul>

{% endblock %}