{% extends 'base.html' %}

{% block content %}
<input type="hidden" id="id" name="id" value="{{task.id}}">
<ul class="list-group list-group-item">
              <header class="d-flex justify-content-between">
                  {% if task.important %}
                    <h1 class="fw-bold text-success">{{task.title}}</h1>
                  {% else %}
                    <h1 class="fw-bold">{{task.title}}</h1>
                  
                  {% endif %}
                    <p>Usuario: {{task.user.username}}</p>
              </header>

              <p>{{task.description|safe}}</p>
              
</ul>

<h5 style="color: white;">Comentarios:</h5>
<ul style="color: white;">
    {% if comentarios %}
        {% for comentario in comentarios %}
            <li>{{ comentario.comment }} (usuario: {{comentario.user.username}})</li>
        {% endfor %}
    {% else %}
          <li>No hay comentarios para esta tarea.</li>
    {% endif %}
</ul>


<form action="{% url 'comentar' task.id %}" method="POST">
  {% csrf_token %}
  <h5 style="color: white;"><label for="comentario">Comentarios</label></h5>
  <h5><input type="text" name="comentario" id="comentario"></h5>
  <button>
      Enviar
  </button>
</form>

{% endblock %}