{% extends 'base.html' %}

{% block content %}
<div class="col-md-4 offset-md-4 mt-5">
    <section class="card card-body"  style="border-radius: 25px;">
        <form action="" method="POST" >
            {% csrf_token %}
            {% if datos1.imagen.url == None %}
                <h1 class="text-center"><i class="fas fa-user"></i> Usuario</h1>
                <div class="form-group">
                    <label><i class="fas fa-user"></i> Usuario:</label>
                    <h5>{{datos}}</h5>
                </div>
                <div class="form-group">
                    <label><i class="fas fa-envelope"></i> Correo:</label>
                    <h5>{{datos.email}}</h5>
                </div>
            {% else %}

                <h1 class="text-center"><i class="fas fa-user"></i> Usuario</h1>

                <div class="form-group">
                    <label><i class="fas fa-user"></i> Usuario:</label>
                    <h5>{{datos}}</h5>
                </div>

                <div class="form-group mt-3">
                    <label><i class="fas fa-envelope"></i> Correo:</label>
                    <h5>{{datos.email}}</h5>
                </div>

                {% load static %}
                <div class="form-group mt-3">
                    <label><i class="fas fa-envelope"></i> Tu pagina web:</label>
                    <h5><img src="{{ datos1.imagen.url }}" alt="Captura de pantalla" class="img-fluid"></h5>
                </div>
            
            {% endif %}
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary mt-3" href="{% url 'edit_usuario' user.id%}" style='background-color: #ffc107; color: black;'>
                        <i class="fas fa-edit" ></i> Actualizar
                    </a>
                </div>

                <div class="col">
                    <a class="btn btn-primary mt-3" href="{% url 'cambiarContraseña' user.id%}" style='background-color: #ffc107; color: black;'>
                        <i class="fas fa-key"></i> Cambiar contraseña
                    </a>
                </div>
            </div>
        </form>
    </section>
</div>    

    

{% endblock %}