{% extends 'base.html' %}
{% block content %}
    
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form action="" method="POST" class="card card-body">
                <h1 class="text-center">Resgistrarse</h1>
                {{error}}
                {% csrf_token %}

                <div class="mb-3">
                    <label for="username">Nombre de usuario:</label>
                    <input type="text" name="username" id="username" class="from-control" placeholder="Escribe tu nombre de usuario" required>
                </div>

                <div class="mb-3">
                    <label for="email">Correo elecetronico:</label>
                    <input type="email" name="email" id="email" class="from-control" placeholder="Escribe tu email" required>
                </div>

                <div class="mb-3">
                    <label for="web">Sitio web:</label>
                    <input type="text" name="web" id="web" class="from-control" placeholder="Pega la url de tu sitio web aqui si posees">
                </div>

                <div class="mb-3">
                    <label for="password1">Contraseña:</label>
                    <input type="password" name="password1" id="password1" class="from-control" placeholder="Escribe tu contraseña" required>
                </div>

                <div class="mb-3">
                    <label for="password2">Confirmar contraseña</label>
                    <input type="password" name="password2" id="password2" class="from-control" placeholder="Confirma tu contraseña" required>
                </div>

                <button class="btn btn-primary">
                    Registrarse
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock %}