{% extends 'base.html' %}

{% block content %}
 <main class="container" >
    <div class="row">
      <h1 class="text-center" style="color: #20c997;">Detalle de la publicacion</h1>
        <div class="col-md-6 offset-md-3 mt-7" style="color: black; background-color: white; border-radius: 10px; padding: 10px;">
            {{error}}
            <div class="d-flex justify-content-between mt-3">
              <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form.media }}

              <button class="btn btn-primary mr-2">
                Update
              </button>

              <form action="{% url 'delete_task' task.id %}" method="POST">
                  {% csrf_token %}
                  <button class="btn btn-danger ml-auto">Delete</button>
              </form>
            </div>
              
    </div>
 </main>

{% endblock %}